@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Açaí do SESI / SENAI</h1>
    <h4>O melhor açaí do Brasil.</h4>
	<img class="w-50" src="~/img/acai.jpg" />
</div>
